/* Cuenta.css
Estilos base para la aplicación financiera: Savings_App con los atributos: 
id, ahorro, ingresos, gastos.

-Diseño
-Tarjeta que muestra el saldo, una lista de transacciones, formulario de entrada, botones de acceso,  
gráfico ilustrativo que expresa liquidez, endeudamiento, nivel de ahorro de un usuario
*/

/* Para el estilo principal*/
.cuenta
h1 {
  width: 200px;
  margin: 10px auto;
  padding: 15px;
  border: 2px solid 
  border-radius 8px;
  h2 { color: blue;
          font-family: Arial, Helvetica, sans-serif; 
          font-size: 1em/1.3;} 
}

/* Id */
.cuenta .id {
  font-weight: bold;
  color:darkslateblue;
            
  }

  /* Ahorro */
.cuenta .ahorro {
  color:chartreuse;
  font-family: Arial, Helvetica, sans-serif;
}

/* Ingresos */
.cuenta .ingresos {
  color:navy;
}

/* Gastos */
.cuenta .gastos {
  color:red;
  font-family: Arial, Helvetica, sans-serif;
}