<h1> Savings_App_</h1>
<h2>Gestión de Cuentas</h2>
<h2> Controla tu cuenta bancaria> 

<form [formGroup]="form" (ngSubmit)="submit()">
     <label>id:</label>
  <input formControlName="id" type="id" />
  <label>Ahorro:</label>
  <input formControlName="ahorro" type="ahorro" />
  <label>Ingresos:</label>
  <input formControlName="ingresos" type="ingresos" /> 
<label>Gastos:</label>
  <input formControlName="gastos" type="gastos" />
 <button type="submit">{{ editMode ? 'Actualizar' : 'Crear' }}</button>
  <button type="button" (click)="resetForm()" *ngIf="editMode">Cancelar</button>
</form>

<table>
  <thead>

    <meta charset="UTF-8" />
        <title>Ejemplo de estilos desde fichero externo</title>
        <link rel="stylesheet" type="text/css" href="estilos.css"/>

    <tr>
      <th>id</th>
      <th>ahorro</th>
      <th>ingresos</th>
      <th>gastos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cuenta of cuentas">
      <td>{{ cuenta.id }}</td>
      <td>{{ cuenta.ahorro }}</td>
      <td>{{ cuenta.ingresos }}</td>
      <td>{{ cuenta.gastos }}</td>
      <td>
        <button (click)="editCuenta(cuenta)">Editar</button>
        <button (click)="deleteCuenta(cuenta.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
